.Parentbox{
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}
.Foto{
  float: left;
  width: 50%;
  height: 700px;
  background: #e3e9ee;
}

.Foto img{
  width: 100%;
}

.Deskripsi{
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .Info{}